/*
Title:      Master styles for screen media
Author:     dan@simplebits.com
*/

body {

}

/* links */

a:link, a:visited {

}

/* page structure
--------------------------------------------- */


/* header
--------------------------------------------- */



/* logo */



/* navigation */

#nav {

}



/* main styles
--------------------------------------------- */


/* use the best possible ampersand */

span.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
    color: #766557;
}


/* footer
--------------------------------------------- */

#footer a {
}

/* misc.
--------------------------------------------- */


/* self-clear floats */

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}