/* ----------------------------------------------------------------------------
    General 
---------------------------------------------------------------------------- */
/* Site font colour unless other-wise specified */
body {
   color: black;
}

a {
   color: #7a6a53;
   text-decoration: underline;
   outline: none;   
}

a:visited {
    color: #7a6a53;
}
a:hover,a:active {
   color:#948c75; 
}

#site_msg {
    background: white;
    background: rgba(255,255,255,0.85);  
    border: 3px #aaa solid;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, strength=15px,direction=45);
	-webkit-box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.4);	
	-moz-box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.4);		
	-o-box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.4);    
}
/* ----------------------------------------------------------------------------
    Background 
---------------------------------------------------------------------------- */
hr
{
	border-color: rgb(219, 120, 37);
	border-color: rgba(219, 120, 37,0.7);
}

body {
	background: white;
}

/* ----------------------------------------------------------------------------
    Banner 
---------------------------------------------------------------------------- */
body {
    border-top: 7px solid #991212;
}
div.banner h1 {
    color: white;
}

div.banner h2 {
    color: #e5a842;    
}

#watermark1 {
    background: #991212;
}
#watermark2 {
    background: #991212;
    background: #991212 url(images/bannerbg.png) no-repeat top right;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#6d0101, strength=5px,direction=0);
    -webkit-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.4);	
    -moz-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.4);		
    -o-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.4);*/	
}

/* ----------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------- */
#footer {
    background: #991212 url(images/motif.png) no-repeat bottom right;
}

#footer .contact .address {
    color: rgb(253, 237, 196);
    color: rgba(253, 237, 196,0.8);    
}

#footer .contact .telephone {
    color: rgb(253, 237, 196);
    color: rgba(253, 237, 196,0.8);    
}

#footer .box {
	color:#ccc;
	font-size:x-small;
}
#footer a {
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
#footer a:hover {
	color:rgb(219, 120, 37);
	color:rgba(255, 184, 45,0.8);	
}

/* ----------------------------------------------------------------------------
    Navigation
---------------------------------------------------------------------------- */
div.container_16 div.banner + div.clear + div {
	color: #ab8e67;
	background: #8a1a02;	
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#6d0101, strength=5px,direction=180);
	-webkit-box-shadow: 0px 3px 5px rgba(109, 1, 1, 0.4);	
	-moz-box-shadow: 0px 3px 5px rgba(109, 1, 1, 0.4);		
	-o-box-shadow: 0px 3px 5px rgba(109, 1, 1, 0.4);		
}

.nav ul li a {
    color: #e8ddcb;	    
    -webkit-transition:background-color,color 0.5s ease-in;  
    -moz-transition:background-color,color 0.5s ease-in;  
    -o-transition:background-color,color 0.5s ease-in;  
    transition:background-color,color 0.5s ease-in;
}

.nav ul li:hover,
.nav ul li.current {
    background: rgb(116, 13, 13); 
    background: rgba(116, 13, 13,0.8);     
}

.nav ul li a:hover,
.nav ul li.current a {
    background: rgb(116, 13, 13); 
    background: rgba(116, 13, 13,0.8);         
	color: white;
}

/* ----------------------------------------------------------------------------
    Content
---------------------------------------------------------------------------- */
hr {
	border-color: rgb(148, 140, 117);
}
h2#page-heading {
    color: #7a6a53;
    border-bottom:1px solid rgb(148, 140, 117);
    border-bottom:1px solid rgba(148, 140, 117,0.8); 
    text-shadow: rgb(148, 140, 117) 0 0 20px;
    text-shadow: rgba(148, 140, 117,0.7) 0 0 20px;                                    
}

p.meta {
	/*color:#4d6a4b;*/
}

/*
.article {
	border-top:1px solid #6d0000;
}*/
.box .article, .box .event {
	border-top:1px solid #CCCCCC;
}
.article h2, .event h2 {
	color:#7a6a53;
	background:transparent;
}

.slideshowlink, 
.slideshowlink h5,
.slideshowlink h6  {
    background: transparent !important;
    color: #7a6a53 !important;
}

h1, h2, h3 {
    color: #7a6a53;
} 
h4, h5, h6, h7,.meta {

    color: #948c75;    
}

/* ----------------------------------------------------------------------------
    Lists
---------------------------------------------------------------------------- */
ul.menu {
    border-top: 1px solid #99b2b7;
}

ul.menu li a {
    border-bottom: 1px solid #d5ded9;
    color:#7a6a53;    
}


ul.menu li a:hover {
    background: rgb(217, 206, 178);
    background: rgba(217, 206, 178,0.8);    
    color:#7a6a53;
}

ul.menu li a:active {
    color:#7a6a53;    
    background: #95bdde;
}

/* ----------------------------------------------------------------------------
    Tables
---------------------------------------------------------------------------- */
tbody th,
tbody td {
    background: #eee;
}

table.fc-header tbody th,
table.fc-header tbody td, {
    background: transparent;
}


/* Widgets
-----------------------------------------------------------------------------*/

/* Knockout */
.knockout {
   color: #fff;
   text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

/* Highlight (orange) */
.active {
   color: #D1700E;
}

/* Knockout anchor */
.knockout a,
#nav * {
   color: #fff;
   text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

/* Blue knockout anchor */
.knockout a {
   color: #a9c0d3;
}

a.from-external-source,
a.from-external-source:visited {
    color: #888888;
}

/* Knockout anchor hover/focus */
.knockout a:hover, .knockout a:focus {
   color: #fff;
}

/* Default anchor active */
a:active {
   color: #D1700E;
}

/* Knockout anchor active */
.knockout a:active {
   color: #fff;
}

/* ----------------------------------------------------------------------------
    Calendar 
---------------------------------------------------------------------------- */

/* Header
------------------------------------------------------------------------*/
	
.fc-header *
{
	background: transparent !important;
}

/* Buttons
------------------------------------------------------------------------*/

.fc-header .fc-state-default,
.fc-header .fc-state-default a {
	border-color: transparent; /* outer border */
	color: #333;
	}

.fc-header .fc-state-default span {
    border: 0 solid transparent;
}
	
/* PRESSED button COLORS (down and active) */
	
.fc-header .fc-state-active a {
	color: #fff;
}
	
.fc-header .fc-state-down span,
.fc-header .fc-state-active span {
	border-color: transparent; /* inner border */
}
	
/* DISABLED button COLORS */
	
.fc-header .fc-state-disabled a {
	color: transparent;
}
	
.fc-header .fc-state-disabled,
.fc-header .fc-state-disabled a {
	border-color: transparent; /* outer border */
}
	
.fc-header .fc-state-disabled span {
	border-color: transparent; /* inner border */
}
	
	
.fc-header .fc-state-active * {
    color: #8B1B00;
}
	
/* Content Area & Global Cell Styles
------------------------------------------------------------------------*/
	
.fc-widget-content {
	border: 1px solid #ccc; /* outer border color */
	}
	
.fc-content {
    background: white;
}
	
.fc-content .fc-state-default {
	border-style: solid;
	border-color: #ccc; /* inner border color */
	}
	
.fc-content .fc-state-highlight { /* today */
	background: #FFD14F;
}
	
.fc-content .fc-not-today { /* override jq-ui highlight (TODO: ui-widget-content) */
	background: none;
}
	

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
	border-style: none; 
	background-color: transparent;
	color: black;            
}
	
.fc-view .W,
.fc-agenda .W .fc-event-time,
.fc-view .W a {
	border-style: none; 
	background-color: #94ce57;
	color: black;
}
	 
.fc-view .M,
.fc-agenda .M .fc-event-time,
.fc-view .M a {
	border-style: none; 
	background-color: #934e6c;
	color: black;
}

.fc-view .B,
.fc-agenda .B .fc-event-time,
.fc-view .B a {
	border-style: none; 
	background-color: #4a96ca;
	color: black;
}

.fc-view .C,
.fc-agenda .C .fc-event-time,
.fc-view .C a {
	border-style: none; 
	background-color: #ca4a4c;
	color: black;
}

.fc-event {
	text-align: left;
    font-size: small;
    font-weight: normal;
}
	
.fc-event a {
	overflow: hidden;
	font-size: .85em;
	text-decoration: none;
	cursor: pointer;
}
