body.event {
    background-color: #e2deb5;
    background-image: url(images/endlessknot/pink.png);
    background-image: url(images/endlessknot/pink.png), url(images/bg.jpg);
    border-color: rgb(166, 0, 96);
    border: 0;
}

body.event .container_16 {
    border: 0.4em rgb(166, 0, 96) double;
    border: 0.4em rgba(166, 0, 96,0.8) double;
}

body.event #branding {
    color: rgb(166, 0, 96);
    color: rgba(166, 0, 96,0.8);
}

body.event #watermark1 {
    display: block;
    position:absolute;
    background-image: url(images/corner/pink.png);
    right:-43px;
    top:-44px;
    width: 300px;
    height: 301px;
    z-index: 100;
}
/* Footer
*----------------------------------------------------------------------------*/
body.event #site_info .box {
    background: rgb(166, 99, 138);
}

/* Navigation
*----------------------------------------------------------------------------*/
body.event .nav ul {
    border-top: 1px solid rgb(166, 0, 96);
    border-bottom: 1px solid rgb(166, 0, 96);
}

body.event .nav ul li a:active,
body.event .nav ul li.current a,
body.event .nav ul li a:hover,
body.event .nav ul li a:focus {
    color:rgb(166, 0, 96);
    font-weight: bold;
}


body.event #page-heading {
    color: rgb(166, 50, 117);
    color: rgba(166, 50, 117,0.8);
    border-bottom:1px solid rgb(173, 64, 128);
    border-bottom:1px solid rgba(173, 64, 128,0.8);
}

body.event .box h2 {
    color:#a60060;
}

body.event form {
    margin-top: 1em;
    margin-left: 20%;
    margin-right: 20%;
    height: 24em;
}

body.event form .button {
    display: block;
}



