/*******************************************************************************
 * Copyright © 2010 Leanne Northrop
 *
 * This file is part of Samye Content Management System.
 *
 * Samye Content Management System is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Samye Content Management System is distributed in the hope that it will be
 * useful,but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Samye Content Management System.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * BT plc, hereby disclaims all copyright interest in the program
 * “Samye Content Management System” written by Leanne Northrop.
 ******************************************************************************/

/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation (horizontal subnavigation)
----------------------------------------------- */
.nav ul,
.nav ul * {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav ul {
    position: relative;
    max-width: 100%;
    height: 2.5em;
    overflow-x: hidden;
    background: transparent;
}

.nav ul li {
    cursor: pointer;
    float: left;
    text-align: center;
    list-style-type: none;
    font-weight: normal;
    background: transparent url(images/diamond.png) 50% left no-repeat;
    padding: 0 1px 0 2px;
    text-shadow: 1px 1px 3px rgba(175,175,175,0.8);
}

.nav ul li.first {
    background-image: none;
    padding: 0 3px 0 7px;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 1em;
    height: 2.4em;
    line-height: 2.5em;
    color: #777;
}
.nav ul li.current a {
    cursor: default;
    font-weight: bold;
}

.nav ul li a em {
    display: none;
}
