#auth {
    padding: 6.2% 12.4% 0 12.4%;
    width: 75%;
}

#signIn {
    float:left;
    width: 37.4%;
    margin-right: 3em;
}

#register {
    float:left;
    width: 37.4%;
    padding-left: 2em;
    border-left: 0.25em rgb(84,164,222) double;
}

#auth form input{
    width: 100%;
}

.rememberMe {
}