.entryForms {
    height: 20em;
    border: none;
}

.entryForms input[type="text"],input[type="password"] {
    width: 20em;
}

.entryForms .signIn {
    width: 48%;
}

.entryForms form {
    height: 20em;
    position: relative;
    border: 1px solid #aaa;
}

.entryForms .middle {
    width: 4%;
    vertical-align: middle;
    font-size: 2em;
}

.entryForms .register {
    width: 48%;
}

.entryForms fieldset {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
