form, .contentAdmin .content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.contentAdmin .content ul, .contentAdmin .content ol{
    list-style: inherit;
}

.contentAdmin .article ul {
    list-style:none;
}

.contentAdmin h1, .contentAdmin h2, .contentAdmin h3, .contentAdmin h4, .contentAdmin h5, .contentAdmin h6 {
    padding-left: 1em;
    line-height: 2em;
    margin-bottom: 0.6em;
}

fieldset {
    margin-top: 0.6em;
}

fieldset label {
    display: block;
    margin-bottom: 0.3em;
}

fieldset.last {
    padding-bottom: 3em;
}

fieldset input[type="text"], fieldset input[type="password"],fieldset textarea {
    padding: 5px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: white url(images/darkFadeTop.png) repeat-x top left;
    background: white url(images/darkFadeTop.png) repeat-x top left;
}

fieldset input.required, fieldset textarea.required {
    border: 1px solid black;
}

fieldset input:focus, fieldset textarea:focus, fieldset.select:focus {
    background: white;
    border: 1px solid #0070a3;
}

form fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/* ACTION BUTTONS */
input[type="submit"],form a.button, form a.submit {
    position: absolute;
    bottom: 0.6em;
    right: 0.6em;
    padding: 0.35em 0.75em 0.4em 0.75em;
    color: white;
    background: #3baae3 url(images/buttonHighlight.png) repeat-x 0 50%;
    border: 1px solid #0070a3;
    width: auto;
    overflow: hidden;
}

input[type="submit"]:hover,form a:hover.button, form a:hover.submit,input[type="submit"]:focus,input[type="submit"]:active,a:active.button, form a:active.submit  {
    background: #aed0ea;
    border: 1px solid #0070a3;
    cursor: pointer;
}

/* MESSAGES AND ERRORS */
.ui-state-highlight, .ui-state-error, .ui-state-highlight, .ui-state-error p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 0.3em;
    text-align: center;
    margin-bottom: 0.6em;
}

.message {
    background: #f3f8fc url(images/information.png) 8px 50% no-repeat;
    border: 1px solid #0070a3;
    color: #3baae3;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 35px;
}

label.message {
    border: none;
    background: transparent url(images/information.png) 0 50% no-repeat;
    color: #3baae3;
    padding: 0 0 0 20px;
    width: auto;
    display: block;
    margin-top: -0.5em;
}

form label em, form label strong {
    display:block;
    font-weight: normal;
    font-size: x-small;
}

form label strong {
    color: #3baae3;
}

form label strong em {
    display: inline;
}

.errors {
    background: #cd0a0c;
    border: 1px solid #7f0607;
    color: white;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
.errors ul, .ui-state-error ul {
    list-style-type: none;
    padding: 0;
}
.errors li,.ui-state-error li {
    /*background: url(images/exclamation.png) 8px 0% no-repeat;*/
    line-height: 16px;
    padding-left: 30px;
    list-style-image: url(images/exclamation.png);
    list-style-position: inside;
}

.errors input, input.error, textarea.error, .errors select, select.error, fieldset input.error, fieldset textarea.error {
    border: 1px solid #7f0607;
}
.error {
    color: #cd0a0c;
}


#editteacher input[type="text"],#editteacher textarea,#addteacher input[type="text"],#addteacher textarea,#updatearticle input[type="text"],#updatearticle textarea,#createarticle input[type="text"],#createarticle textarea,#publish input[type="text"], #publish textarea{
    width: 100%;
}

fieldset p.tags_help {
    display: block;
}
fieldset p.tags_help ul {
    margin-left: 6em;
}
