form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

form fieldset {
    margin-left: 1em;
}

form h1, form h2, form h3, form h4, form h5, form h6 {
    padding-left: 1em;
    line-height: 2em;
    margin-bottom: 0.6em;
}

fieldset {
    margin-top: 0.6em;
}

fieldset label {
    display: block;
    margin-bottom: 0.3em;
}

fieldset input[type="text"], fieldset input[type="password"],fieldset textarea {
    padding: 5px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: white url(images/darkFadeTop.png) repeat-x top left;
    margin-bottom: 0.6em;
}

fieldset input:focus, fieldset textarea:focus {
    background: white;
    border: 1px solid rgb(255,152,52);
}

/* ACTION BUTTONS */
input[type="submit"],a.button, form a.submit {
    position: absolute;
    bottom: 0.6em;
    right: 0.6em;
    padding: 0.35em 0.75em 0.4em 0.75em;
    color: rgb(255,152,52);
    background: white url(images/buttonHighlight.png) repeat-x 0 50%;
    border: 1px solid rgb(255,152,52);
    width: auto;
    overflow: hidden;
}

input[type="submit"]:hover,a:hover.button, form a:hover.submit  {
    background: rgb(255,152,52);
    border: 1px solid rgb(255,152,52,0);
    color: white;
    cursor: pointer;
}

input[type="submit"]:focus,input[type="submit"]:active,a:active.button, form a:active.submit  {
    background: rgb(246,232,150);
    border: 1px solid rgb(246,232,150,0);
    cursor: pointer;
}

/* MESSAGES AND ERRORS */
.ui-state-highlight, .ui-state-error, .ui-state-highlight, .ui-state-error p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 0.3em;
}

.message {
    background: #f3f8fc url(images/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 35px;
}

label.message {
    border: none;
    background: transparent url(images/information.png) 0 50% no-repeat;
    color: #006dba;
    padding: 0 0 0 20px;
    width: auto;
    display: block;
    margin-top: -0.5em;
}

.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
.errors ul {
    list-style: none;
    padding: 0;
}
.errors li {
    background: url(images/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

.errors select {
    border: 1px solid red;
}
.errors input {
    border: 1px solid red;
}