/* Manage Content Menu Bar */

.menuBar {
    background: #fff url(images/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 0;
    margin-bottom: 0.6em;
    padding:0;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 100%;
    position: relative;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
    margin-right: 12px;
}

.menuButton a {
    padding: 2px 3px;
    padding-left: 25px;
    text-decoration: none;
}

.menuButton a:hover {
    text-decoration: underline;
}

.menuButton a.home {
    background: url(images/house.png) center left no-repeat;

}

.menuButton a.login {
    background: url(images/normal/in_16.png) center left no-repeat;
}

.menuButton a.logout {
    background: url(images/normal/out_16.png) center left no-repeat;
}

.menuButton a.article {
    background: url(images/normal/document_16.png) center left no-repeat;
}

.menuButton a.image {
    background: url(images/normal/photo_camera_16.png) center left no-repeat;
}

.menuButton a.venue {
    background: url(images/normal/home_16.png) center left no-repeat;
}

.menuButton a.roles {
    background: url(images/normal/clients_16.png) center left no-repeat;
}

.menuButton a.event {
    background: url(images/normal/calendar_16.png) center left no-repeat;
}

.menuButton a.list {
    background: url(images/database_table.png) center left no-repeat;
}

.menuButton a.create {
    background: url(images/database_add.png) center left no-repeat;
}

.menuButton a:hover.login {
    background: url(images/hover/in_16.png) center left no-repeat;
}

.menuButton a:hover.logout {
    background: url(images/hover/out_16.png) center left no-repeat;
}

.menuButton a:hover.article {
    background: url(images/hover/document_16.png) center left no-repeat;
}

.menuButton a:hover.image {
    background: url(images/hover/photo_camera_16.png) center left no-repeat;
}

.menuButton a:hover.venue {
    background: url(images/hover/home_16.png) center left no-repeat;
}

.menuButton a:hover.roles {
    background: url(images/hover/clients_16.png) center left no-repeat;
}

.menuButton a:hover.event {
    background: url(images/hover/calendar_16.png) center left no-repeat;
}

.menuButton a.articleCreate {
    background: url(images/normal/document_add_16.png) center left no-repeat;
}

.menuButton a.imageCreate {
    background: url(images/normal/photo_camera_add_16.png) center left no-repeat;
}

.menuButton a.venueCreate {
    background: url(images/normal/home_add_16.png) center left no-repeat;
}

.menuButton a.eventCreate {
    background: url(images/normal/calendar_add_16.png) center left no-repeat;
}

.menuButton a:hover.articleCreate {
    background: url(images/hover/document_add_16.png) center left no-repeat;
}

.menuButton a:hover.imageCreate {
    background: url(images/hover/photo_camera_add_16.png) center left no-repeat;
}

.menuButton a:hover.venueCreate {
    background: url(images/hover/home_add_16.png) center left no-repeat;
}

.menuButton a:hover.eventCreate {
    background: url(images/hover/calendar_add_16.png) center left no-repeat;
}

.menuButton a.teacher {
    background: url(images/normal/clients_16.png) center left no-repeat;
}

.menuButton a:hover.teacher {
    background: url(images/hover/clients_16.png) center left no-repeat;
}
.menuButton a.teacherCreate {
    background: url(images/normal/clients_add_16.png) center left no-repeat;
}

.menuButton a:hover.teacherCreate {
    background: url(images/hover/clients_add_16.png) center left no-repeat;
}



.menuButton a.theme {
    background: url(images/normal/services_16.png) center left no-repeat;
}

.menuButton a:hover.theme {
    background: url(images/hover/services_16.png) center left no-repeat;
}
.menuButton a.themeCreate {
    background: url(images/normal/services_16.png) center left no-repeat;
}

.menuButton a:hover.themeCreate {
    background: url(images/hover/services_16.png) center left no-repeat;
}
