/*
Title:      Screen styles for managing site content
*/

/* import stylesheets and hide from ie/mac \*/
@import url("contentadmin/jquery-ui-1.7.2.custom.css");
@import url("forms.css");
@import url("authentication.css");
@import url("menu.css");
@import url("tables.css");
@import url("image.css");
/* end import/hide */

.contentAdmin * {
    font-family: Helvetica, Arial, sans-serif;
}

.contentAdmin a {
    color: #0073ea;
}

.contentAdmin .content * {
    font-size: 14px;
}

.contentAdmin .footer {
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* pagination
--------------------------------------------- */
.paginateButtons {
    color: rgb(157, 134, 192);
    font-family: verdana;
    font-weight: normal;
    font-size: x-small;
    overflow: hidden;
    padding: 10px 3px;
}

div.list + div.manage {
    background: rgb(235, 244, 250) url(images/darkFadeBottom.png) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
}

.paginateButtons a {
    border: none;
    color: rgb(57, 134, 192);
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

.paginateButtons .prevLink {
    font-size: bigger;
}

.paginateButtons .step {

}

.paginateButtons .nextLink {
    font-size: bigger;
}

/* Spinner
--------------------------------------------------*/
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
