/* header
--------------------------------------------- */
#banner {
    width: 100%;
}

/* logo */
.banner img {
    width: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.75em;
    font-size: smaller;
    padding: 0.2em 1em;
    text-align: center;
}

.pagecontent {
    position:relative;
    margin-bottom: 2em;
    margin-top: 0.6em;
}

.nav {
    position: relative;
}

.nav ul {
    margin: 0 0 0 125px;
    list-style: none;
    overflow: hidden;
    font-size: 70%;
}

.nav ul li {
    float: left;
}

.nav ul a {
    line-height: 1.6em;
    padding: 0.5em 0.8em 0.3em 0.75em;
    display: block;
    text-decoration: none;
    border: none;
}

/* highlight current area */
.nav ul a strong {
    text-align: left;
    display: block;
    font-family: verdana;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav ul a em {
    display: block;
}

.nav ul li.last a {
    border: none;
    margin-right: 0;
}

.nav ul li.first a {
    margin-left: 0;
}

.nav ul {
    overflow: hidden;
    font-size: 70%;
}

.nav ul li {
    float: left;
}

.nav ul a {
    line-height: 1.6em;
    padding: 0.5em 0.8em 0.3em 0.75em;
    display: block;
    text-decoration: none;
    border: none;
}

/* highlight current area */
.nav ul a strong {
    text-align: left;
    display: block;
}

.nav ul li.last a {
    border: none;
    margin-right: 0;
}

.nav ul li.first a {
    margin-left: 0;
}

.email a {
    background: url(../themes/default/images/Mail.png) no-repeat left 50%;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.twitter a {
    background: url(../themes/default/images/Twitter.png) no-repeat left 50%;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.rss a {
    background: url(../themes/default/images/RSS.png) no-repeat left 50%;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.calendar a {
    background: url(../themes/default/images/iCal.png) no-repeat left 50%;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.facebook a {
    background: url(../themes/default/images/Chat.png) no-repeat left 50%;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}

.services li {
    padding: 4px 0;
}
