/* Manage Content Menu Bar */

img.icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

#panel {
  width: 100%;
  min-height: 60px;
  padding: 0px;
  text-align: center;
  background: #d7d7d7 url(images/panel-backgr.png) repeat-x;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px; 
}

#panel div {
    padding: 10px;
}

#menu {
  width: 100%;
  height: 40px;
  overflow:hidden;
  clear: both;
  background: #dc0000 url(images/menu-parent.png) repeat-x;
}

ul#nav {
  float: left;
  display: inline;
  overflow: hidden;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;  
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #880000;
  margin: 0;
  padding: 0 30px;
  background: transparent;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;     
}

ul#btn {
  display: inline;    
  float: right;
  overflow: hidden;
  width: 30%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #dc0000 url(images/menu-parent.png) repeat-x;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

ul#btn li {
  display: inline;
}

ul#btn li a {
  float: right;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #880000;
  margin: 0;
  padding: 0 30px;
  background: #dc0000 url(images/menu-parent.png) repeat-x;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #330000;
  background: #bb0000;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px; 
}

/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul#nav  ul {
  display: none;
}

/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40px;
  margin: 40px 0 0 0;
  background: #aa0000 url(images/menu-child.png) repeat-x;  
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px; 
}

ul#nav li:hover > ul li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #110000;
  margin: 0;
  padding: 0 30px 0 0;
  background: #aa0000 url(images/menu-child.png) repeat-x; 
}

ul#nav li:hover > ul li a:hover {
  color: #120000;
  text-decoration: none;
  text-shadow: none;
}

.menuBar {
    background: #fff url(images/shadow.jpg) bottom repeat-x;
    border-bottom: 1px solid #ccc;
    border-style: solid none solid none;
    padding:0;
	margin:0;
    width: 100%;
    position: fixed;
	left:0;
	top: 9em;
	z-index: 11;
	text-align:center;
	min-width:90em;
}

.menuButton {
    font-size: 1.1em;
    padding: 5px 5px 5px 8px;
    margin: 0 0 0 12px;
	position:relative;
	display:inline-block;
}

.menuButton a {
    padding: 0 3px 0 25px;
    text-decoration: none;
}

.menuButton:hover {
    background:rgb(206, 206, 206);
    background:rgba(206, 206, 206,0.9);
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
	-moz-transition-property: background;
	-moz-transition-duration: 0.75s;
    -moz-transition-timing-function: ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
	-o-transition-property: background;
	-o-transition-duration: 0.75s;
    -o-transition-timing-function: ease-out, cubic-bezier(0.5, 0.2, 0.3, 1.0);
}

.menuButton a.home {
    background: url(images/house.png) center left no-repeat;
}

.menuButton a.login {
    background: url(images/normal/in_16.png) center left no-repeat;
}

.menuButton a.logout {
    background: url(images/normal/out_16.png) center left no-repeat;
}

.menuButton a.article {
    background: url(images/normal/document_16.png) center left no-repeat;
}

.menuButton a.image {
    background: url(images/normal/photo_camera_16.png) center left no-repeat;
}

.menuButton a.venue {
    background: url(images/normal/home_16.png) center left no-repeat;
}

.menuButton a.roles {
    background: url(images/normal/clients_16.png) center left no-repeat;
}

.menuButton a.event {
    background: url(images/normal/calendar_16.png) center left no-repeat;
}

.menuButton a.list {
    background: url(images/database_table.png) center left no-repeat;
}

.menuButton a.create {
    background: url(images/database_add.png) center left no-repeat;
}

.menuButton a:hover.login {
    background: url(images/hover/in_16.png) center left no-repeat;
}

.menuButton a:hover.logout {
    background: url(images/hover/out_16.png) center left no-repeat;
}

.menuButton a:hover.article {
    background: url(images/hover/document_16.png) center left no-repeat;
}

.menuButton a:hover.image {
    background: url(images/hover/photo_camera_16.png) center left no-repeat;
}

.menuButton a:hover.venue {
    background: url(images/hover/home_16.png) center left no-repeat;
}

.menuButton a:hover.roles {
    background: url(images/hover/clients_16.png) center left no-repeat;
}

.menuButton a:hover.event {
    background: url(images/hover/calendar_16.png) center left no-repeat;
}

.menuButton a.articleCreate {
    background: url(images/normal/document_add_16.png) center left no-repeat;
}

.menuButton a.imageCreate {
    background: url(images/normal/photo_camera_add_16.png) center left no-repeat;
}

.menuButton a.venueCreate {
    background: url(images/normal/home_add_16.png) center left no-repeat;
}

.menuButton a.eventCreate {
    background: url(images/normal/calendar_add_16.png) center left no-repeat;
}

.menuButton a:hover.articleCreate {
    background: url(images/hover/document_add_16.png) center left no-repeat;
}

.menuButton a:hover.imageCreate {
    background: url(images/hover/photo_camera_add_16.png) center left no-repeat;
}

.menuButton a:hover.venueCreate {
    background: url(images/hover/home_add_16.png) center left no-repeat;
}

.menuButton a:hover.eventCreate {
    background: url(images/hover/calendar_add_16.png) center left no-repeat;
}

.menuButton a.teacher {
    background: url(images/normal/clients_16.png) center left no-repeat;
}

.menuButton a:hover.teacher {
    background: url(images/hover/clients_16.png) center left no-repeat;
}
.menuButton a.teacherCreate {
    background: url(images/normal/clients_add_16.png) center left no-repeat;
}

.menuButton a:hover.teacherCreate {
    background: url(images/hover/clients_add_16.png) center left no-repeat;
}

.menuButton a.theme {
    background: url(images/normal/services_16.png) center left no-repeat;
}

.menuButton a:hover.theme {
    background: url(images/hover/services_16.png) center left no-repeat;
}
.menuButton a.themeCreate {
    background: url(images/normal/services_16.png) center left no-repeat;
}

.menuButton a:hover.themeCreate {
    background: url(images/hover/services_16.png) center left no-repeat;
}

.menuButton a.profile {
    background: url(images/normal/user_16.png) center left no-repeat;
}

.menuButton a:hover.profile {
    background: url(images/hover/user_16.png) center left no-repeat;
}
.menuButton a.profileEdit {
    background: url(images/normal/user_edit_16.png) center left no-repeat;
}

.menuButton a:hover.profileEdit {
    background: url(images/hover/user_edit_16.png) center left no-repeat;
}
.menuButton a.slideshow {
    background: url(images/slideshow.png) center left no-repeat;
	padding-left: 35px;
}

.menuButton a:hover.settings {
    background: url(images/hover/tool_config_16.png) center left no-repeat;
}
.menuButton a.settings {
    background: url(images/normal/tool_config_16.png) center left no-repeat;
}

.menuButton a:hover.room {
    background: url(images/hover/square_16.png) center left no-repeat;
}
.menuButton a.room {
    background: url(images/normal/square_16.png) center left no-repeat;
}

.menuButton a:hover.roomCreate {
    background: url(images/hover/square_add_16.png) center left no-repeat;
}
.menuButton a.roomCreate {
    background: url(images/normal/square_add_16.png) center left no-repeat;
}

.menuButton a:hover.file {
    background: url(images/hover/document_up_16.png) center left no-repeat;
}
.menuButton a.file {
    background: url(images/normal/document_up_16.png) center left no-repeat;
}

.menuButton a:hover.fileCreate {
    background: url(images/hover/document_add_16.png) center left no-repeat;
}
.menuButton a.fileCreate {
    background: url(images/normal/document_add_16.png) center left no-repeat;
}

.menuButton a:hover.shop {
    background: url(images/normal/shopping_cart_16.png) center left no-repeat;
}
.menuButton a.shop {
    background: url(images/normal/shopping_cart_16.png) center left no-repeat;
}

.menuButton a:hover.shopCreate {
    background: url(images/normal/shopping_cart_add_16.png) center left no-repeat;
}
.menuButton a.shopCreate {
    background: url(images/normal/shopping_cart_add_16.png) center left no-repeat;
}
.menuButton a.links {
    background: url(images/normal/notepad_16.png) center left no-repeat;
}