/*
Title:      Screen styles for managing site content
*/

/* import stylesheets and hide from ie/mac \*/
@import url("theme/jquery-ui-1.8.6.custom.css");
@import url("forms.css");
@import url("tables.css");
@import url("image.css");
@import url("authentication.css");
@import url("menu.css");
/* end import/hide */

.contentAdmin {
    width: 100%;
    background: #ede8e2;
/*    margin-bottom: 5.75em;*/
	font: normal 85% HelveticaNeue, Helvetica, Arial, 'Liberation Sans', FreeSans, verdana,tahoma,sans-serif;
}
/*
.container_12,
.container_16 {
    background:rgb(238, 238, 238);
    background:rgba(238, 238, 238,0.7);
}*/


.contentAdmin h1 {
    font-size: 1.25em;
	margin-bottom: 0.6em;
}
.contentAdmin h2 {
    font-size: 1em;
}
.contentAdmin h3 {
    font-size: 0.99em;
}

.contentAdmin h1, .contentAdmin h2, .contentAdmin h3, .contentAdmin h4, .contentAdmin h5, .contentAdmin h6 {
    padding-left: 1em;
    line-height: 2em;
    margin-bottom: 0.6em;
    color: #333;
}


.contentAdmin ul, .contentAdmin ol{
    list-style: inherit;
}

.contentAdmin .article ul {
    list-style:none;
}

.contentAdmin .ui-state-highlight .ui-icon-alert {
    display: inline-block;    
}

.contentAdmin .content {
	padding-top: 2.6em;
	padding-bottom: 1.6em;
}

/* pagination
--------------------------------------------- */
.paginateButtons {
    color: rgb(157, 134, 192);
    font-family: verdana;
    font-weight: normal;
    font-size: x-small;
    overflow: hidden;
    padding: 10px 3px;
	text-decoration: none;
}

div.list + div.manage {
    background: rgb(235, 244, 250) url(images/darkFadeBottom.png) bottom repeat-x;
    border: 1px solid black;
    border-top: 0;
}

.paginateButtons a {
    border: none;
    color: black;
	background: #eeeeee;
    margin: 0 3px;
    padding: 2px 6px;
    border: 1px solid black;
	text-decoration: none;
}
.paginateButtons a:hover {
	color:white;
	background:rgb(205, 225, 238);
}

.paginateButtons span {
    padding: 2px 6px;
    margin: 0 3px;
    border: 1px solid black;
    color: black;
	font-weight: bold;
	background: #eeeeee;
}

.paginateButtons .prevLink {
    font-size: bigger;
}

.paginateButtons .step {
	font-size: bigger;
}

.paginateButtons .nextLink {
    font-size: bigger;
}

/* Spinner
--------------------------------------------------*/
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

.footer {
	height: 5em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    font-size: smaller;
    text-align: center;
    border-top: 1px solid rgb(113,179,226);
    background: rgb(212,231,244);
    background: rgba(212,231,244,0.7);
    font-size: smaller;
    padding: 1em;
	display: none;
	visibility: hidden;
}

.footer ul {
    list-style: none;
    margin-bottom: 0;
}

.comment {
    padding: 1.5em;
    margin-bottom: 0.75em;
}
.comment span {
    vertical-align: middle;
    margin-right: 1.2em;
}
.comment h3,.comment h4 {
    padding: 0;
    margin: 0;
    line-height: 1.1em;
    font-size: 1.1em;
}
.comment h4 {
    font-size: smaller;
}
.contentAdmin .actions {
    position: relative;
    overflow: hidden;
}
.contentAdmin .actions a {
    text-decoration: none !important;
}
.contentAdmin .actions span {
    float:left;
    margin-right: 1em;
}