/* TABLES */

.contentAdmin table {
    border: 1px solid #ccc;
    background:#e9e9e9;
	background: rgba(233, 233, 233,0.7);
    width: 100%
}

.contentAdmin form table, .contentAdmin table.ui-datepicker-calendar {
    background: white;
}

.contentAdmin tr {
    border: 0;
}

.contentAdmin tr.odd {
    background: #e1e1e1 !important;
}
.contentAdmin tr.even {
    background: #fff !important;
}

.contentAdmin th {
    text-align:left;
}
.contentAdmin td, .contentAdmin th {
    line-height: 12px;
    padding: 5px 6px;
    vertical-align: top;
}

.contentAdmin th {
    background: rgb(235,244,250) url(images/darkFadeBottom.png) bottom repeat-x;
    color: #666;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
.contentAdmin th a:link, .contentAdmin th a:visited, .contentAdmin th a:hover {
    color: #333;
    display: block;
    text-decoration: none;
    width: 100%;
}
.contentAdmin th.asc a, .contentAdmin th.desc a {
    padding-left: 10px;
    background-position: left;
    background-repeat: no-repeat;
}
.contentAdmin th.asc a {
    background-image: url(images/sorted_asc.gif);
}
.contentAdmin th.desc a {
    background-image: url(images/sorted_desc.gif);
}

.contentAdmin th.asc a, .contentAdmin th.desc a {
    padding-left: 10px;
    background-position: left;
    background-repeat: no-repeat;
}
.contentAdmin th.asc a {
    background-image: url(images/sorted_asc.gif);
}
.contentAdmin th.desc a {
    background-image: url(images/sorted_desc.gif);
}

