img {
    margin: 3px 10px 3px 0;
    padding: 4px;    
	border:1px solid #bbb;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;		
	-o-border-radius:3px;
	background:#fff; 
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#7B7B7B, strength=3px,direction=180);
	-webkit-box-shadow: 0px 3px 3px rgba(123, 123, 123, 0.4);	
	-moz-box-shadow: 0px 3px 3px rgba(123, 123, 123, 0.4);		
	-o-box-shadow: 0px 3px 3px rgba(123, 123, 123, 0.4);	   
}
img.pngImg {
    border: 0;
    background:transparent ! important;  
    box-shadow: 0 ! important; 
    filter: none;
    -webkit-box-shadow: none ! important;	
    -moz-box-shadow: none ! important;		
    -o-box-shadow: none ! important;
}

/* ----------------------------------------------------------------------------
    List Images
---------------------------------------------------------------------------- */
ul.events li a img{
	float: left;	
}

li a img {
    margin-top: 1.25em;
}

li a .defaultImg {
    width: 75px;
    height: 75px;
    display: block;    
}
li.T a .defaultImg {
    background: white url(images/vajra.gif) no-repeat 4px 4px;    
}

li.M a .defaultImg {
    background: white url(images/meditation.gif) no-repeat 4px 4px;
}
li.W a .defaultImg {
    background: white url(images/yoga.gif) no-repeat 4px 4px;
}

/* ----------------------------------------------------------------------------
    Slideshow
---------------------------------------------------------------------------- */
div.slideshowlink {
    background:rgb(109, 1, 1);    
    position: relative;
    color: #fff;
    width: 100%;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;		
	-o-border-radius:6px;    
    
}
div.slideshowlink h5,
div.slideshowlink h6,
div.slideshowlink {
    font-family: 'Gill Sans MT', 'Gill Sans','Century Gothic','Trebuchet MS',sans-serif;    
    font-weight:normal;
    color: #fff;
    max-width: 85%;        
}
div.slideshowlink h5 {
    font-size:x-large;
}
div.slideshowlink h6 {
    font-style:italic;
    font-size:small;
    text-align:center;
    width:100%;    
    max-width:100%;        
    display: block;    
}
div.slideshowlink a {
    display: block;
    width:100%;
    text-align:center;
}
div.slideshowlink a img {
    overflow-x:hidden;
    float:none;    
    max-width:95%;
    max-height: 5em;
}



/* ----------------------------------------------------------------------------
    Article
---------------------------------------------------------------------------- */
.top img {
    max-width: 130px;
    max-height: 130px;    
}

body.meditation .grid_12 img,
body.community .grid_12 img,
body.buddhism .grid_12 img,
body.wellbeing .grid_12 img,
body.aboutUs .grid_12 img {
	max-width: 200px;
}

.article a.image, 
.event a.image,
.box.article img,
.article .body img, 
.event .body img {
    margin: 3px 10px 3px 0;
    padding: 4px;    
}

.article .body img, .event .body img {
    float: right;

}
.shortnews a img,
.article a img,
.event div a img, 
.box img {
    float: left;
    max-width: 220px;
}

a img:hover{
	border:1px solid #6d0000;
}
