.lowerbannerbg {
	color: #9b2728;
}

.color2 {
	color: #c43133;
}

.upperbannerbg {
	color: #9c381e;
}

.bannerborder {
	color: #ff9933;
}

.bannertext {
	color: #e5a842;
}

.footertext {
	color: #f9eed0;
}

.darkgreen {
	color: #4d6a4b;
}

.lightgreen {
	color: #8cb062;
}

.darkblue {
	color: #4a5eb2;
}

.lightblue {
	color: #95bdde;
}

