/* ----------------------------------------------------------------------------
    Boxes
---------------------------------------------------------------------------- */
.box {
    margin-bottom: 0;
    padding: 10px 10px 1px 10px;
}

.box h3 {
}

/* Home Page Windows
-----------------------------------------------------------------------------*/
div.grid_8 div.article {
    min-height: 15em;    
    max-height: 25em;
    overflow: hidden;
}
