body.community {
    background-color: #e2deb5;
    background-image: url(images/endlessknot/blue.png);
    background-image: url(images/endlessknot/blue.png), url(images/bg.jpg);
    border-color: #7e5bad;
    border: 0;
}

body.community .container_16 {
    border: 0.4em #0055a4 double;
}

body.community #branding {
    color: #0055a4;
}

body.community #watermark1 {
    display: block;
    position:absolute;
    background-image: url(images/corner/blue.png);
    right:-43px;
    top:-44px;
    width: 300px;
    height: 301px;
    z-index: 100;
}


/* Navigation
*----------------------------------------------------------------------------*/
body.community .nav ul {
    border-top: 1px solid #0055A4;
    border-bottom: 1px solid #0055A4;
}

body.community .nav ul li a:active,
body.community .nav ul li.current a,
body.community .nav ul li a:hover,
body.community .nav ul li a:focus {
    color:#0055A4;
    font-weight: bold;
}

/* Footer
*----------------------------------------------------------------------------*/
body.community #site_info .box {
    background: #4388df;
}

body.community #page-heading {
    color: #4388DF;
    color: rgba(67, 136, 223,0.8);
    border-bottom:1px solid rgb(153, 189, 211);
    border-bottom:1px solid rgba(153, 189, 211,0.5);
}

body.community .box h2 {
    background:transparent;
    color:#0055A4;
}

body.community .box.article h2,.community h3 a  {
    color:#0055a4;
    background: transparent;
}

body.community .box .article, body.community .box .event {
    border-top:1px solid #0055a4;
}

body.community .article h2, body.community .event h2 {
    color:#0055a4;
}

body.community .article p.meta, body.community .event p.meta, .event.C p.meta {
    color:#4388df;
    border-top:1px dotted #0055a4;
    border-bottom:1px dotted #0055a4;
}

.events li.C h3, .events li.C h3 a, .articles li.C h3, .articles li.C h3 a {
    color:#8497c3;
}
.events li.C h3 a:hover,.articles li.C h3 a:hover {
    color:#99bdd3;
}

.event .C h4,
.article .C h4,
.event .C h3,
.article .C h3,
.event .C h5,
.article .C h5,
.event .C h6,
.article .C h6,
.events li.C h4,
.articles li.C h4,
.events li.C h5,
.articles li.C h5,
.events li.C h6,
.articles li.C h6 {
    color:#99bdd3;
}
body.community .box .first, body.community .block .first, body.community .block li.first {
    border-top: none;
}