/*******************************************************************************
 * Copyright © 2010 Leanne Northrop
 *
 * This file is part of Samye Content Management System.
 *
 * Samye Content Management System is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Samye Content Management System is distributed in the hope that it will be
 * useful,but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Samye Content Management System.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * BT plc, hereby disclaims all copyright interest in the program
 * “Samye Content Management System” written by Leanne Northrop.
 ******************************************************************************/

/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation (horizontal subnavigation)
----------------------------------------------- */

div.container_16 div.banner + div.clear + div {
	z-index:3;
	position:relative;
/*	margin-left:-5%;
	margin-right:0;
	width:109.35%;*/
	font-weight:bold;	
	text-align:center;
	display:block;
	overflow:hidden;	
    top: -38px;
/*top:-8px*/
}
.nav {
	width:100%;
}
.nav ul,.nav ul * { 
	margin:0;
}
.nav ul {
  position:relative;
  width:100%;  
  list-style: none !important;
}
.nav ul li {
	cursor:pointer;
	display:inline-block;
	list-style:none;
	padding: 0.5em 0.6em 0.3em 0.6em;		
}
.nav ul li a {
	position: relative;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:0;	
}

.nav ul li a strong {
    display: block;
}

.nav ul li a em {
    display: none;
}

/* Shop Navigation Menu
-----------------------------------------------------------------------------*/
.box h2 a,
.box h2 a.visible {
    display: block;
    padding: 6px 12px;
    margin: -6px -12px;
    border: none;
}

.box h2 a.hidden,
.box h2 a.hidden:hover {
    background-image: url("../img/switch_plus.gif");
}
.grid_4 .box h2 a {
    background-position: 97% 50%;
}

.grid_5 .box h2 a {
    background-position: 98% 50%;
}

.grid_12 .box h2 a {
    background-position: 99% 50%;
}
