/*******************************************************************************
 * Copyright © 2010 Leanne Northrop
 *
 * This file is part of Samye Content Management System.
 *
 * Samye Content Management System is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Samye Content Management System is distributed in the hope that it will be
 * useful,but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Samye Content Management System.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * BT plc, hereby disclaims all copyright interest in the program
 * “Samye Content Management System” written by Leanne Northrop.
 ******************************************************************************/

/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation (horizontal subnavigation)
----------------------------------------------- */
#watermark1 + div.grid_16 + div.clear + div.grid_16{
	position:relative;
	margin-left:-5%;
	margin-right:0;
	width:110%;
	padding:0;
	font-size: 1.4em;
	font-weight:bold;	
	text-align:center;
	display:block;
	float:none;
}
.nav {
	width:100%;
}
.nav ul,.nav ul * { 
	margin:0;
	padding:0;
}
.nav ul {
  position:relative;
  width:100%;
}
.nav ul li {
	cursor:pointer;
	display:inline-block;
	list-style-type:none;
	padding: 0.3em 0.6em 0.1em 0.6em;		
}
.nav ul li a {
	position: relative;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:0;	
}

.nav ul li.current a {
	cursor:default;
}

.nav ul li a strong {
    display: block;
}

.nav ul li a em {
    display: block;
	font-size: 0.7em;
	font-weight: normal;
	font-style: italic;
}
