/* With Many Thanks to at Jos Buivenga (exljbris)  http://www.josbuivenga.demon.nl for creating web friendly commericial licences for his fonts*/
/* Fonts by Jos Buivenga (exljbris) -> www.exljbris.nl */

@font-face {
    font-family: "Calluna";
    font-weight: bold;
    font-style: normal;
    src: url(fonts/Calluna-Semibold.otf) format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: bold;
    font-style: italic;
    src: url(fonts/Calluna-SemiboldIt.otf) format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: normal;
    font-style: italic;
    src: url(fonts/Calluna-It.otf) format("opentype");
}

@font-face {
    font-family: "Calluna";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/Calluna-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Calluna";
    font-weight: lighter;
    font-style: normal;
    src: url(fonts/Calluna-Light.otf) format("opentype");
}

@font-face {
    font-family: "Fertigo Pro";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/Fertigo_PRO.otf) format("opentype");
}

@font-face {
    font-family: "Fertigo Pro";
    font-weight: lighter;
    font-style: italic;
    src: url(fonts/FertigoPro_Italic.otf) format("opentype");
}

/* Tibetan Fonts */
@font-face {
    font-family: "Kailasa";
    font-weight: normal;
    src: url(fonts/Kailasa.otf) format("truetype");
}

@font-face {
    font-family: "Kokonor";
    font-weight: normal;
    src: url(fonts/Kokonor.otf) format("truetype");
}

/* Main Styles */
body {
    font-size: 100%;
    font-family: "Calluna";
    font-weight: lighter;
}

strong {
    font-family: "Calluna";
    font-weight: bold;
}

em {
    font-family: "Calluna";
    font-weight: italic;
}

blockquote {
    font-family: "Calluna";
    font-weight: italic;
    font-size: smaller;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Calluna";
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 120%;
    font-style: italic;
}

h3 {
    font-size: 110%;
}

h4 {
    font-size: 105%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 100%;
}
label {
    font-size: smaller;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}

.tibetan {
    font-family: "Kokonor";
    font-size: 4em;
    text-shadow: 2px 2px 0 rgb(180,180,180);
    text-shadow: 2px 2px 0 rgba(180,180,180, 0.8);
}
/* use the best possible ampersand */

span.amp {
    font-family: "Brioso Pro Light Poster", "Adobe Caslon Pro", "Sanvito Pro Light Display", "Sanvito Pro Light", Baskerville, "Century Schoolbook", "Bell MT Italic", "Goudy Old Style Italic", "Batang Regular", "Palatino", "Book Antiqua", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
    color: rgb(143,193,0);
}

span.webding {
    font-family: Arial, sans-serif;
}