/*
    Title: Main
    Author: Leanne Northrop
*/

body {
    background: rgb(242,238,211);
    min-width: 80em;
}

/* links */

a, a:link, a:visited, a:hover, a:active {
    color: rgb(84,164,222);
    text-decoration: none;
    cursor: pointer;
}

h1 {
}

h2 {
    border-bottom: 1px solid rgb(143,193,0);
    line-height: 1.4em;
    margin-bottom: 1em;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

/* colors
--------------------------------------------- */
.white {
    color:white;
}
.red {
    color: rgb(255,55,52);
}
.orange {
    color: rgb(255,152,52);
}
.yellow {
    color: rgb(255,200,52);
}
.green {
    color:rgb(143,193,0);
}
.blue {
    color: rgb(84,164,222);
}
.cyan {
    color: rgb(111,213,255);
}
.purple {
    color: rgb(180,134,255);
}
.pink {
    color: rgb(218,125,161);
}

/* pagination
--------------------------------------------- */
.paginateButtons {
    color: rgb(157,134,192);
    font-family: verdana;
    font-weight: normal;
    font-size: x-small;
    overflow: hidden;
    padding: 10px 3px;
}

div.list + div.manage {
    background: rgb(235,244,250) url(images/darkFadeBottom.png) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
}

.paginateButtons a {
    border: none;
    color: rgb(57,134,192);
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

.paginateButtons .prevLink {
    font-size:bigger;
}

.paginateButtons .step {

}
.paginateButtons .nextLink {
    font-size:bigger;
}

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}