/*******************************************************************************
 * Copyright © 2010 Leanne Northrop
 *
 * This file is part of Samye Content Management System.
 *
 * Samye Content Management System is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Samye Content Management System is distributed in the hope that it will be
 * useful,but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Samye Content Management System.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * BT plc, hereby disclaims all copyright interest in the program
 * “Samye Content Management System” written by Leanne Northrop.
 ******************************************************************************/
hr
{
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

.container_16 {
    position: relative;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* Mootools Kwicks
----------------------------------------------- */
#kwick-box {
    padding:0;
    overflow:hidden;
}
#kwick {
    position: relative;
}
#kwick .kwicks {
    display: block;
    height: 180px;
    list-style:none;
    margin:0;
    overflow:hidden;
}
#kwick li {
    float: left;
    margin:0;
    padding:0;
}
#kwick .kwick {
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 160px;
    width: 125px;
    padding: 10px;
}

#kwick .kwick div img{
    float: left;
    max-height: 120px;
    margin-right: 0.6em;
    margin-bottom: 0.6em;
}

#kwick .kwick div p a {
    font-weight: normal;
    font-size: smaller;
}

span.amp {
    font-family: "Brioso Pro Light Poster", "Adobe Caslon Pro", "Sanvito Pro Light Display", "Sanvito Pro Light", Baskerville, "Century Schoolbook", "Bell MT Italic", "Goudy Old Style Italic", "Batang Regular", "Palatino", "Book Antiqua", serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
}